/* global styling */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

[hidden] {
    display: none !important;
}

/* header styling */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #0071bc;
  color: white;
  border-bottom: 1px solid #afaaaa;
}

.logo {
  max-width: 100px;
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-link {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-link:hover {
    color: #cde9ff;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 968px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/* Hamburger Menu Styles */
.menu-toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.menu-toggle span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.3s ease;
}

.menu-toggle span:nth-child(1) {
  top: 0;
}

.menu-toggle span:nth-child(2),
.menu-toggle span:nth-child(3) {
  top: 9px;
}

.menu-toggle span:nth-child(4) {
  top: 18px;
}

/* Mobile Navigation Menu */
.mobile-menu.open ~ .fixed-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  display: none;
  background-color: #242930;
  z-index: 3;
  height: 100%;
}

@media (min-width: 600px) {
  .mobile-menu {
    width: 345px;
  }
}

.mobile-menu.open {
  display: block;
}

.mobile-close-btn {
    background: url(https://static.idriveonlinebackup.com/source/images/mobile-menu-close.png) center center no-repeat;
    font-size: 12px;
    width: 40px;
    height: 40px;
    margin-left: auto;
    padding: 8px;
    cursor: pointer;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  padding: 10px;
}

.mobile-menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* main content styling */

/* Banner Styling */
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-image: linear-gradient(to bottom, #0071bc 53.1%, #f8f8f8 50%);
}

.banner-sub {
  width: 100%;
  position: relative;
}

.banner-sub img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  margin: 30px 0;
  color: white;
}

.banner-data {
  background-color: white;
  border-radius: 20px;
  padding: 20px 0 50px;
}

.banner-data__heading {
  padding-left: 20px;
  color: #007bc2;
}

.contact-methods {
  background-color: #f5dcdcbd;
  width: 65%;
  padding: 20px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}

.contact-methods .regional-contacts {
  display: flex;
  flex-wrap: wrap;
}

.contact-methods .regional-contacts .region {
  border-right: 1px dashed #888;
  padding: 0 40px 0 20px;
}

.contact-methods .regional-contacts .region:last-child {
  border-right: unset;
  padding-left: 40px;
}

.contact-methods .regional-contacts h2,
.contact-methods .regional-contacts p {
  font-size: 19px;
  font-weight: 400;
}

.contact-methods .regional-contacts h2 {
  color: #888;
}

.contact-methods .regional-contacts p {
  color: #db5050;
}

.techsupport-billing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  padding-left: 20px;
}

.technical-support {
  padding-right: 30px;
  border-right: 1px solid black;
}

.billing {
  padding-left: 15px;
}

.deptext-resellers {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #8888882b;
  padding: 30px 0 30px 20px;
}

.deptext-resellers h2 {
  font-size: 19px;
  font-weight: 400;
  color: #db5050;
  margin-top: 0;
}

.extensions {
  padding-right: 40px;
  border-right: 1px dashed black;
}

.resellers {
  padding-left: 40px;
}

.extensions p,
.resellers p {
  margin: 0;
  color: #007bc2;
  font-size: 14px;
}

.resellers p:last-child {
  color: #888;
}

.additional-info {
  padding-left: 20px;
  color: #888;
  font-size: 15px;
  width: 62%;
}

.additional-info span {
  color: #007bc2;
}

@media (min-width: 1127px) and (max-width: 1300px) {
  .banner-sub {
    margin: 0 24px;
  }

	.banner {
		background-image: linear-gradient(to bottom, #0071bc 53.5%, #f8f8f8 50%);
	}

	.additional-info {
		font-size: 13px
	}
}

@media (min-width: 946px) and (max-width: 1127px) {
  .banner-sub {
    margin: 0 24px;
  }

	img {
		width: 380px;
	}
}

@media (min-width: 1080px) and (max-width: 1107px) {
  .banner {
		background-image: linear-gradient(to bottom, #0071bc 51.6%, #f8f8f8 50%);
	}
}

@media (min-width: 1009px) and (max-width: 1079px) {
  .banner {
		background-image: linear-gradient(to bottom, #0071bc 54%, #f8f8f8 50%);
	}
}

@media (min-width: 802px) and (max-width: 1008px) {
  .banner {
		background-image: linear-gradient(to bottom, #0071bc 51.6%, #f8f8f8 50%);
	}
}

@media (max-width: 1008px) {
  .banner-sub {
    margin: 0 24px;
    text-align: center;
  }

  .banner-sub .contact-methods {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: unset;
  }

  .deptext-resellers {
    justify-content: center;
  }

  .additional-info {
    margin: 0 auto;
  }

  .banner img {
    display: none;
  }
}

@media (max-width: 768px) {
  .banner-sub {
    margin: 0;
  }
}

@media (max-width: 802px) {
  .banner {
    background-image: linear-gradient(to bottom, #0071bc 50.4%, #f8f8f8 50%);
  }

  .techsupport-billing {
    justify-content: center;
  }
}

@media (max-width: 718px) {
  .banner h1 {
    margin: 0 0 20px;
  }

  .banner-data__heading {
    margin-top: 0;
    padding: 0;
  }

  .contact-methods .regional-contacts {
    justify-content: center;
    gap: 25px;
  }

  .contact-methods .regional-contacts .region {
    border-right: unset;
  }

  .contact-methods .regional-contacts .region h2, .contact-methods .regional-contacts p {
    margin: 0;
  }

  .techsupport-billing {
    padding: 15px;
    gap: 20px;
  }

  .technical-support {
    margin: 0;
    padding: 0;
    border-right: unset;
  }

  .billing {
    margin: 0;
    padding: 0;
  }
  
  .deptext-resellers {
    padding: 15px 0;
    gap: 15px;
  }

  .extensions {
    padding: 0;
    border-right: unset;
  }

  .resellers {
    padding: 0;
  }

  .deptext-resellers h2 {
    margin-bottom: 8px;
  }

  .additional-info {
    margin: 10px 0;
    width: unset;
  }

  .additional-info p {
    margin: 0;
  }
}

/* form styling */
.form-wrapper {
  background-color: #f0f4f7;
  padding: 40px 24px 80px;
}

.support-form_head {
  display: flex;
  border-bottom: 1px solid #888;
  flex-wrap: wrap;
}

.support-form_head > * {
  padding: 10px 0;
  width: 200px;
  text-align: center;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  color: #888;
}

.support-form_head .active {
  background-color: white;
  border-radius: 5px 5px 0 0;
  border-bottom: 5px solid #007bc2;
  color: #007bc2;
}

.support-form__content {
  display: grid;
  margin: 40px 0;
}

.support-form__content .support-form__content_item {
  margin-bottom: 20px;
}

.support-form__content_item .input_field.error {
  border-color: red;
  margin-bottom: 5px;
}

.support-form__content .support-form__content_item input,
.text-area textarea,
select {
  width: 100%;
  font-size: 14px;
  height: 40px;
  border: 1px solid #b2c8d6;
  border-radius: 3px;
  outline: none;
  padding: 0px 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #888;
}

select {
  appearance: none;
}

.select_wrap {
  position: relative;
}

.select_wrap i {
  position: absolute;
  top: 50%;
  right: 15px;
  color: black;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.support-form__content_item input:focus,
.text-area textarea:focus,
select:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

.supprt-form__content_error {
  display: block;
}

label {
  display: block;
  line-height: 32px;
  font-size: 16px;
}

.support-form__button {
  font-size: 20px;
  padding: 15px 40px;
  background: #007bc2;
  border: 1px solid #007bc2;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .support-form__content {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 35px;
  }

  .support-form__content .support-form__content_item {
    margin-bottom: 0;
  }

  .text-area {
    grid-column: 1 / -1;
  }
}

.support-form__content .text-area {
  width: 100%;
}

.support-form__content .text-area textarea {
  width: 100%;
  height: 100px;
  padding: 10px 5px;
  border-radius: 3px;
  resize: none;
  box-sizing: border-box;
  outline: none;
}

.supprt-form__content_error, .invalid-input {
    color: red;
}

/* resources faqs section styling */
.resources-faqs > * {
  border: 1px solid #b2c8d6;
  border-radius: 5px;
}

.resources-faqs svg {
  width: 40px;
  height: 40px;
}

.resources h3,
.faqs h3 {
  border-bottom: 1px dashed #b2c8d6;
  padding: 15px 20px;
  margin: 0;
  color: #007bc2;
}

.resources-content,
.faqs-content {
  padding: 30px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 20px;
}

.resources-content span,
.faqs-content span {
  padding-left: 20px;
}

.resources-faqs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 40px 24px;
  gap: 20px;
}

.resources-content > div, .faqs-content > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .resources-content > div, .faqs-content > div {
    flex-direction: column;
    gap: 10px;
  }

  .resources-content span,
  .faqs-content span {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .resources-faqs {
    margin: 40px 24px;
  }
}

@media (min-width: 960px) {
  .resources-faqs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .resources-faqs {
    margin: 40px auto;
  }
}

/* footer styling */
footer {
  background-color: #242930;
  color: white;
  font-size: 14px;
}

.footer-top-section {
  border-bottom: 1px solid #575151;
}

.footer-container.mobile {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.footer-container.mobile .footer-section {
  margin-bottom: 10px;
}

.footer-container.mobile .accordion {
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  border-top: 1px solid #555;
}

.footer-container.mobile .accordion:hover,
.accordion.active {
  background-color: #555;
}

.footer-container.mobile .panel {
  padding: 0 18px;
  background-color: black;
  display: none;
  overflow: hidden;
}

.footer-container.mobile .panel ul {
  list-style: none;
  padding: 0;
}

.footer-container.mobile .panel ul li a {
  color: #888;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.footer-container.desktop {
  display: none;
}

@media all and (min-width: 768px) {
  .footer-container.mobile {
    display: none;
  }

  .footer-container.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 24px;
  }
}

.footer-container.desktop .row-wrap > div:last-child {
  margin-top: 35px;
} 

.footer-container.desktop .footer-section h4 {
  margin-bottom: 15px;
}

.footer-container.desktop .footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-container.desktop .footer-section ul li a {
  color: #888;
  text-decoration: none;
  line-height: 2;
}

.footer-container.desktop .footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.copyright {
  color: #888;
}

.footer-logo-wrap {
  display: flex;
  gap: 15px;
}

.footer-logo-wrap a {
  background: white;
  border-radius: 20px;
  width: 18px;
  height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer-logo-wrap a i {
  color: black;
  font-size: 12px;
}
